doctype html
html
    head
        title Map Page
        script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/vendor/knockout/dist/knockout.js")
    body
        form
            table
                tr
                    td Map:
                    td
                        select(data-bind="options: maps,optionsText:'name',optionsValue:'_id', value: mapId")
                        input(type="submit", value="View", data-bind="click: view")
